<!doctype html />
<html>
{% block plugs %}
<script src="/static/js/jquery-min.js"></script>
<script src="/static/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/static/Gen/materialize.min.css"  media="screen,projection">
<link type="text/css" rel="stylesheet" href="/static/Gen/style.css">
{% endblock %}
	<header>
		{% assets "example_style" %}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
		{% endassets %}
		<title>NEXRAD AWS Data Access</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</header>

	<body>
		<div class="header-div valign-wrapper light-blue accent-3 z-depth-1">
			<h3>Nexrad AWS Data Access</h3>
		</div>
		<div class="container">
			<div class="data-access-div center-align z-depth-1">
				<form id="searchForm" action="/getData" method="post">
					<div class="row">
						<h5 class="col s4 hide-on-small-only">Date:</h5>
						<input type="text" id="date" class="datepicker col s8" placeholder="Date">
						<h5 class="col s4 hide-on-small-only">Time From:</h5>
						<input type="text" id="timeFrom" class="timepicker col s8" placeholder="Time From">
						<h5 class="col s4 hide-on-small-only">Time To:</h5>
						<input type="text" id="timeTo" class="timepicker col s8" placeholder="Time To">

						<!-- site selection -->
						<h5 class="col s4 hide-on-small-only">Radar Site:</h5>
						<div class="input-field col s8">
							<select id="site-select">
								{% for site in sites %}
									<option id="{{site}}">{{site}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<a class="waves-effect waves-light btn-large light-blue accent-3" id="formSubmit">Submit</a>
				</form>
			</div>
		</div>
	</body>
	<script>

		$(document).ready(function(){
			//ready
			//set defaults
			M.AutoInit();
			$('span.warning').hide(0);
			$('select').formSelect();
			var defDate = new Date("2013","04","20","0");
			var minDate = new Date("1991","07","05","0");
			$('#date').datepicker({
				format: "mm/dd/yyyy",
				defaultDate: defDate,
				setDefaultDate: true,
				minDate: minDate,
				yearRange: 40,
				autoClose: true
			});
			$('#timeFrom').timepicker({ 
				defaultTime: "14:30",
				autoClose: true,
				twelveHour: false
			});
			$('#timeTo').timepicker({ 
				defaultTime: "15:30",
				autoClose: true,
				twelveHour:false
			});
			$('#site-select').val('KTLX');
			
			//form submit
			$('#formSubmit').click(function() {
				event.preventDefault();
				var selectedDate = $('#date').val();
				var selectedTimeTo = $('#timeTo').val();
				var selectedTimeFrom = $('#timeFrom').val();
				var selectedSite = $('select').val();
				
				if (selectedDate != "" && selectedTimeTo != "" && selectedTimeFrom != "" && selectedSite != "") {
					$.post('/getData', {selectedRadar: selectedSite, timeTo: selectedTimeTo, timeFrom: selectedTimeFrom, date: selectedDate}, function( data ) {
						M.toast({html: data});
					});
				}
				else {
					M.toast({html: 'One or More Required Field(s) is empty.'});
				}
			});
			
		});
	</script>
</html>
