<!doctype html />
<html>
{% block plugs %}
<script src="/static/js/jquery-min.js"></script>
<script src="/static/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/static/stylesheets/materialize.min.css"  media="screen,projection">
<link type="text/css" rel="stylesheet" href="/static/stylesheets/style.css">
{% endblock %}
	<header>
		<title>NEXRAD AWS Data Access</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</header>

	<body>
	<script>
	document.addEventListener('DOMContentLoaded', function() {
		var url = 'http://127.0.0.1:5001/GUI-is-still-open'; 
		fetch(url, { mode: 'no-cors'});
		setInterval(function(){ fetch(url, { mode: 'no-cors'});}, 5000)();
	});
	</script>
		<div class="container">
			<div class="header-div">
				<h3>NEXRAD AWS Data Access</h3>
				<form id="searchForm" action="/getData" method="post">
					<div class="row">
						<h5 class="col s4 hide-on-small-only">Date:</h5>
						<input type="text" id="date" class="datepicker col s8" placeholder="Date">
						<h5 class="col s4 hide-on-small-only">Time From:</h5>
						<input type="text" id="timeFrom" class="timepicker col s8" placeholder="Time From">
						<h5 class="col s4 hide-on-small-only">Time To:</h5>
						<input type="text" id="timeTo" class="timepicker col s8" placeholder="Time To">

						<!-- site selection -->
						<h5 class="col s4 hide-on-small-only">Radar Site:</h5>
						<div class="input-field col s8">
							<select id="site-select">
								{% for site in sites %}
									<option id="{{site}}">{{site}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<a class="waves-effect waves-light btn-large" id="formSubmit">Submit</a>
					<br />
					<span class="warning">One or More Required Field(s) is empty.</span>
				</form>
			</div>
		</div>
	</body>
	<script>
		M.AutoInit();
		$('span.warning').hide(0);
		$('select').formSelect();
		var defDate = new Date("2013","04","20","0");
		var minDate = new Date("1991","07","05","0");
		$('#date').datepicker({
			format: "mm/dd/yyyy",
			defaultDate: defDate,
			setDefaultDate: true,
			minDate: minDate,
			yearRange: 40,
			autoClose: true
		});
		$('#timeFrom').timepicker({ 
			defaultTime: "14:30",
			autoClose: true,
			twelveHour: false
		});
		$('#timeTo').timepicker({ 
			defaultTime: "15:30",
			autoClose: true,
			twelveHour:false
		});
		$(document).ready(function(){
			//ready
			$('#formSubmit').click(function() {
				event.preventDefault();
				var selectedDate = $('#date').val();
				var selectedTimeTo = $('#timeTo').val();
				var selectedTimeFrom = $('#timeFrom').val();
				var selectedSite = $('select').val();
				
				if (selectedDate != "" && selectedTimeTo != "" && selectedTimeFrom != "" && selectedSite != "") {
					$.post('/getData', {selectedRadar: selectedSite, timeTo: selectedTimeTo, timeFrom: selectedTimeFrom, date: selectedDate}, function( data ) {
						alert( data );
					});
				}
				else {
					$('span.warning').fadeIn(250);
				}
			});
			$('#site-select').val('KTLX');
		});
	</script>
</html>
