<!doctype html />
<html>
{% block plugs %}
<script src="/static/js/jquery-min.js"></script>
<script src="/static/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/static/stylesheets/materialize.min.css"  media="screen,projection">
<link type="text/css" rel="stylesheet" href="/static/stylesheets/style.css">
{% endblock %}
	<header>
		<title>NEXRAD AWS Data Access</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</header>
	<body>
	<script>
	document.addEventListener('DOMContentLoaded', function() {
		var url = 'http://127.0.0.1:5001/GUI-is-still-open'; 
		fetch(url, { mode: 'no-cors'});
		setInterval(function(){ fetch(url, { mode: 'no-cors'});}, 5000)();
	});
	</script>
		<div class="container">
			<div class="header-div">
				<h3>NEXRAD AWS Data Access</h3>
				<form id="searchForm" action="/getData" method="post">
					<div class="row">
						<h5 class="col s4 hide-on-small-only">Date:</h5>
						<input type="text" id="date" class="datepicker col s8" placeholder="Date">
						<h5 class="col s4 hide-on-small-only">Time From:</h5>
						<input type="text" id="timeFrom" class="timepicker col s8" placeholder="Time From">
						<h5 class="col s4 hide-on-small-only">Time To:</h5>
						<input type="text" id="timeTo" class="timepicker col s8" placeholder="Time To">

						<!-- site selection -->
						<h5 class="col s4 hide-on-small-only">Radar Site:</h5>
						<div class="input-field col s8">
							<select>
								<option id='DAN1'>DAN1</option>
								<option id='DOP1'>DOP1</option>
								<option id='FOP1'>FOP1</option>
								<option id='KABQ'>KABQ</option>
								<option id='KABR'>KABR</option>
								<option id='KABX'>KABX</option>
								<option id='KAFD'>KAFD</option>
								<option id='KAKQ'>KAKQ</option>
								<option id='KAMA'>KAMA</option>
								<option id='KAMX'>KAMX</option>
								<option id='KAPX'>KAPX</option>
								<option id='KARX'>KARX</option>
								<option id='KATX'>KATX</option>
								<option id='KBBX'>KBBX</option>
								<option id='KBGM'>KBGM</option>
								<option id='KBHX'>KBHX</option>
								<option id='BIS '>BIS </option>
								<option id='KBLX'>KBLX</option>
								<option id='KBMX'>KBMX</option>
								<option id='KBOX'>KBOX</option>
								<option id='KBRO'>KBRO</option>
								<option id='KBTV'>KBTV</option>
								<option id='KBUF'>KBUF</option>
								<option id='KBYX'>KBYX</option>
								<option id='KCAE'>KCAE</option>
								<option id='KCBW'>KCBW</option>
								<option id='KCBX'>KCBX</option>
								<option id='KCCX'>KCCX</option>
								<option id='KCLE'>KCLE</option>
								<option id='KCLX'>KCLX</option>
								<option id='KCRI'>KCRI</option>
								<option id='KCRP'>KCRP</option>
								<option id='KCXX'>KCXX</option>
								<option id='KCYS'>KCYS</option>
								<option id='KDAX'>KDAX</option>
								<option id='KDDC'>KDDC</option>
								<option id='KDFX'>KDFX</option>
								<option id='KDGX'>KDGX</option>
								<option id='KDIX'>KDIX</option>
								<option id='KDLH'>KDLH</option>
								<option id='KDMX'>KDMX</option>
								<option id='KDOG'>KDOG</option>
								<option id='KDOX'>KDOX</option>
								<option id='KDTX'>KDTX</option>
								<option id='KDVN'>KDVN</option>
								<option id='KDYX'>KDYX</option>
								<option id='KEAX'>KEAX</option>
								<option id='KEMX'>KEMX</option>
								<option id='KENX'>KENX</option>
								<option id='KEOX'>KEOX</option>
								<option id='KEPZ'>KEPZ</option>
								<option id='KERI'>KERI</option>
								<option id='KESX'>KESX</option>
								<option id='KEVX'>KEVX</option>
								<option id='KEWX'>KEWX</option>
								<option id='KEYX'>KEYX</option>
								<option id='KFCX'>KFCX</option>
								<option id='KFDR'>KFDR</option>
								<option id='KFDX'>KFDX</option>
								<option id='KFFC'>KFFC</option>
								<option id='KFSD'>KFSD</option>
								<option id='KFSX'>KFSX</option>
								<option id='KFTG'>KFTG</option>
								<option id='KFWS'>KFWS</option>
								<option id='KGGW'>KGGW</option>
								<option id='KGJX'>KGJX</option>
								<option id='KGLD'>KGLD</option>
								<option id='KGRB'>KGRB</option>
								<option id='KGRK'>KGRK</option>
								<option id='KGRR'>KGRR</option>
								<option id='KGSP'>KGSP</option>
								<option id='KGWX'>KGWX</option>
								<option id='KGYX'>KGYX</option>
								<option id='KHDX'>KHDX</option>
								<option id='KHGX'>KHGX</option>
								<option id='KHNX'>KHNX</option>
								<option id='KHPX'>KHPX</option>
								<option id='KHTX'>KHTX</option>
								<option id='KICT'>KICT</option>
								<option id='KICX'>KICX</option>
								<option id='KILM'>KILM</option>
								<option id='KILN'>KILN</option>
								<option id='KILX'>KILX</option>
								<option id='KIND'>KIND</option>
								<option id='KINX'>KINX</option>
								<option id='KIWA'>KIWA</option>
								<option id='KIWX'>KIWX</option>
								<option id='KJAN'>KJAN</option>
								<option id='KJAX'>KJAX</option>
								<option id='KJGX'>KJGX</option>
								<option id='KJKL'>KJKL</option>
								<option id='KJUA'>KJUA</option>
								<option id='KLBB'>KLBB</option>
								<option id='KLBF'>KLBF</option>
								<option id='KLCH'>KLCH</option>
								<option id='KLGX'>KLGX</option>
								<option id='KLIX'>KLIX</option>
								<option id='KLNX'>KLNX</option>
								<option id='KLOT'>KLOT</option>
								<option id='KLRX'>KLRX</option>
								<option id='KLSX'>KLSX</option>
								<option id='KLTX'>KLTX</option>
								<option id='KLVX'>KLVX</option>
								<option id='KLWX'>KLWX</option>
								<option id='KLZK'>KLZK</option>
								<option id='KMAF'>KMAF</option>
								<option id='KMAX'>KMAX</option>
								<option id='KMBX'>KMBX</option>
								<option id='KMES'>KMES</option>
								<option id='KMHX'>KMHX</option>
								<option id='KMKX'>KMKX</option>
								<option id='KMLB'>KMLB</option>
								<option id='KMOB'>KMOB</option>
								<option id='KMPX'>KMPX</option>
								<option id='KMQT'>KMQT</option>
								<option id='KMRX'>KMRX</option>
								<option id='KMSX'>KMSX</option>
								<option id='KMTX'>KMTX</option>
								<option id='KMUX'>KMUX</option>
								<option id='KMVX'>KMVX</option>
								<option id='KMXX'>KMXX</option>
								<option id='KNAW'>KNAW</option>
								<option id='KNKX'>KNKX</option>
								<option id='KNQA'>KNQA</option>
								<option id='KOAX'>KOAX</option>
								<option id='KOHX'>KOHX</option>
								<option id='KOKX'>KOKX</option>
								<option id='KORT'>KORT</option>
								<option id='KOTX'>KOTX</option>
								<option id='KOUN'>KOUN</option>
								<option id='KPAH'>KPAH</option>
								<option id='KPBZ'>KPBZ</option>
								<option id='KPDT'>KPDT</option>
								<option id='KPOE'>KPOE</option>
								<option id='KPUX'>KPUX</option>
								<option id='KQYA'>KQYA</option>
								<option id='KRAX'>KRAX</option>
								<option id='KRGX'>KRGX</option>
								<option id='KRIW'>KRIW</option>
								<option id='KRLX'>KRLX</option>
								<option id='KRMX'>KRMX</option>
								<option id='KRTX'>KRTX</option>
								<option id='KSFX'>KSFX</option>
								<option id='KSGF'>KSGF</option>
								<option id='KSHV'>KSHV</option>
								<option id='KSJT'>KSJT</option>
								<option id='KSOX'>KSOX</option>
								<option id='KSRX'>KSRX</option>
								<option id='KTBW'>KTBW</option>
								<option id='KTFX'>KTFX</option>
								<option id='KTLH'>KTLH</option>
								<option id='KTLX' selected>KTLX</option>
								<option id='KTWX'>KTWX</option>
								<option id='KTYX'>KTYX</option>
								<option id='KUDX'>KUDX</option>
								<option id='KUEX'>KUEX</option>
								<option id='KUNR'>KUNR</option>
								<option id='KVAX'>KVAX</option>
								<option id='KVBX'>KVBX</option>
								<option id='KVNX'>KVNX</option>
								<option id='KVTX'>KVTX</option>
								<option id='KVWX'>KVWX</option>
								<option id='KYUX'>KYUX</option>
								<option id='LPLA'>LPLA</option>
								<option id='NOP3'>NOP3</option>
								<option id='NOP4'>NOP4</option>
								<option id='PABC'>PABC</option>
								<option id='PACG'>PACG</option>
								<option id='PAEC'>PAEC</option>
								<option id='PAHG'>PAHG</option>
								<option id='PAIH'>PAIH</option>
								<option id='PAKC'>PAKC</option>
								<option id='PAPD'>PAPD</option>
								<option id='PGUA'>PGUA</option>
								<option id='PGUM'>PGUM</option>
								<option id='PHKI'>PHKI</option>
								<option id='PHKM'>PHKM</option>
								<option id='PHMO'>PHMO</option>
								<option id='PHWA'>PHWA</option>
								<option id='PKJK'>PKJK</option>
								<option id='PKSG'>PKSG</option>
								<option id='PMES'>PMES</option>
								<option id='PODN'>PODN</option>
								<option id='RKJK'>RKJK</option>
								<option id='RKSG'>RKSG</option>
								<option id='RODN'>RODN</option>
								<option id='ROP3'>ROP3</option>
								<option id='ROP4'>ROP4</option>
								<option id='TADW'>TADW</option>
								<option id='TATL'>TATL</option>
								<option id='TBNA'>TBNA</option>
								<option id='TBOS'>TBOS</option>
								<option id='TBWI'>TBWI</option>
								<option id='TCLT'>TCLT</option>
								<option id='TCMH'>TCMH</option>
								<option id='TCVG'>TCVG</option>
								<option id='TDAL'>TDAL</option>
								<option id='TDAY'>TDAY</option>
								<option id='TDCA'>TDCA</option>
								<option id='TDEN'>TDEN</option>
								<option id='TDFW'>TDFW</option>
								<option id='TDTW'>TDTW</option>
								<option id='TEWR'>TEWR</option>
								<option id='TFLL'>TFLL</option>
								<option id='THOU'>THOU</option>
								<option id='TIAD'>TIAD</option>
								<option id='TIAH'>TIAH</option>
								<option id='TICH'>TICH</option>
								<option id='TICT'>TICT</option>
								<option id='TIDS'>TIDS</option>
								<option id='TJBQ'>TJBQ</option>
								<option id='TJFK'>TJFK</option>
								<option id='TJRV'>TJRV</option>
								<option id='TJUA'>TJUA</option>
								<option id='TLAS'>TLAS</option>
								<option id='TLSX'>TLSX</option>
								<option id='TLVE'>TLVE</option>
								<option id='TMCI'>TMCI</option>
								<option id='TMCO'>TMCO</option>
								<option id='TMDW'>TMDW</option>
								<option id='TMEM'>TMEM</option>
								<option id='TMIA'>TMIA</option>
								<option id='TMKE'>TMKE</option>
								<option id='TMLB'>TMLB</option>
								<option id='TMSP'>TMSP</option>
								<option id='TMSY'>TMSY</option>
								<option id='TNAW'>TNAW</option>
								<option id='TOKC'>TOKC</option>
								<option id='TORD'>TORD</option>
								<option id='TPBI'>TPBI</option>
								<option id='TPHL'>TPHL</option>
								<option id='TPHX'>TPHX</option>
								<option id='TPIT'>TPIT</option>
								<option id='TRDU'>TRDU</option>
								<option id='TSDF'>TSDF</option>
								<option id='TSJU'>TSJU</option>
								<option id='TSLC'>TSLC</option>
								<option id='TSTL'>TSTL</option>
								<option id='TTBW'>TTBW</option>
								<option id='TTPA'>TTPA</option>
								<option id='TTUL'>TTUL</option>
							</select>
						</div>
					</div>
					<a class="waves-effect waves-light btn-large" id="formSubmit">Submit</a>
					<br />
					<span class="warning">One or More Required Field(s) is empty.</span>
				</form>
			</div>
		</div>
	</body>
	<script>
		M.AutoInit();
		$('span.warning').hide(0);
		$('select').formSelect();
		var defDate = new Date("2013","05","20","0");
		var minDate = new Date("1990","01","01","0");
		$('#date').datepicker({
			format: "mm/dd/yyyy",
			defaultDate: defDate,
			setDefaultDate: true,
			minDate: minDate,
			yearRange: 50,
			autoClose: true
		});
		$('#timeFrom').timepicker({ 
			defaultTime: "17:00",
			autoClose: true,
			twelveHour: false
		});
		$('#timeTo').timepicker({ 
			defaultTime: "19:00",
			autoClose: true,
			twelveHour:false
		});
		$(document).ready(function(){
			//ready
			$('#formSubmit').click(function() {
				event.preventDefault();
				var selectedDate = $('#date').val();
				var selectedTimeTo = $('#timeTo').val();
				var selectedTimeFrom = $('#timeFrom').val();
				var selectedSite = $('select').val();
				
				if (selectedDate != "" && selectedTimeTo != "" && selectedTimeFrom != "" && selectedSite != "") {
					$.post('/getData', {selectedRadar: selectedSite, timeTo: selectedTimeTo, timeFrom: selectedTimeFrom, date: selectedDate}, function( data ) {
						alert( data );
					});
				}
				else {
					$('span.warning').fadeIn(250);
				}
			});
		});
	</script>
</html>